<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711006035349-5nt5014cpbo8irsf8luu0otaedo7t807.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711006035349-5nt5014cpbo8irsf8luu0otaedo7t807</string>
	<key>API_KEY</key>
	<string>AIzaSyC_IW97EkBN2Z1DOKS8yA2UuRk2PmzRUcI</string>
	<key>GCM_SENDER_ID</key>
	<string>711006035349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.mois.SwiftyProteins</string>
	<key>PROJECT_ID</key>
	<string>swiftyprotein-918d1</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftyprotein-918d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711006035349:ios:6a51e1d2517a97c98faa9c</string>
</dict>
</plist>